<footer class="footer">
    
    <div class="info">
        <a href="#">Informações</a>
        <a href="#">Quem Somos</a>
        <a href="#">Nossos parceiros</a>
    </div>
    <div class="redes-sociais">
        <a href="#"><img src="img/icone-whats.png" alt="icone-whatsapp"></a>
        <a href="#"><img src="img/icone-face.png" alt="icone-facebook"></a>
        <a href="#"><img src="img/icone-insta.png" alt="icone-instagram"></a>
        <a href="#"><img src="img/icone-lkd.png" alt="icone-linkedin"></a>
    </div>

    <div class="contato">
        <span>Email: email@dominio.com</span>
        <span>Telefone: (99)99999-9999</span>
    </div>
    <div class="map">
        <span>Localização</span>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.98858461134!2d-46.774590985099636!3d-23.532912984697003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce50ab7feb4519%3A0x739f0ddb0439cf94!2sDigital%20House%20Brasil!5e0!3m2!1spt-BR!2sbr!4v1654038624865!5m2!1spt-BR!2sbr"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</footer>