<header>
    <nav class="navbar">
        <div class="logo">
            <img src="img/logo-menor.png" alt="logo" />
        </div>
        <div class="links">
            <a href="#">Masculino</a>
            <a>Feminino</a>
            <a>Acessórios</a>
            <a>Calçados</a>
        </div>
        <div class="search">
            <input type="text" placeholder="Procurando algo específico?" />
            <button type="submit">
                <img src="img/seacrh-icon.png" alt="imagem de lupa" />
            </button>
        </div>
        <div class="Login">
            <a href="login.html">Acesse sua Conta</a>
        </div>
    </nav>
</header>