*{
    margin:0;
    padding: 0;
}

.header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width:100%;
    height: 10vh;
    background-color: red;
    margin-bottom: 15px;
}

.header img{
    height: 100%;
}