<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('./partials/header') %>

    <main>
        <section class="not-found">
        <div >
            <h1><%=error%></h1>
        </div>
        <div class="img-error">
            <img src="img/404.png" alt="Error 404 página não encontrada">
        </div>
        </section>
        
    </main>

    <%- include('./partials/footer') %>
</body>

</html>