<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/perfil.css">
    <title>Meu Perfil</title>
</head>

<body>
    <header>
        <!-- Inicio Header -->
        <nav class="navbar">
            <div class="logo">
                <img src="img/logo-menor.png" alt="Logo" />
            </div>
            <div class="wrapper">
                <div class="nav-busca">
                    <input type="text" placeholder="  Busque aqui!">
                    <button type="submit"><img src="img/seacrh-icon.png" alt="Imagem de uma Lupa"></button>
                </div>
                <div class="nav-links">
                    <a href="#">Masculino</a>
                    <a href="#">Feminino</a>
                    <a href="#">Acessórios</a>
                    <a href="#">Calçados</a>
                </div>
            </div>
            <div class="btn-logar">
                <a href="#">Acesse sua Conta</a>
            </div>
        </nav>
    </header> <!-- Fim Header -->

    <main>
        <!-- Inicio Main -->
        <section class="usuario">
            <h2> Olá, [Usuário] </h2>
            <span>Aqui você pode acessar os seus ultimos pedidos, endereços cadastrados e alterar os seus dados.</span>
            <div class="btn-usuario">
                <a href="#">Acessar Ultimos Pedidos</a>
                <a href="#">Acessar Meus Endereços</a>
                <a href="#">Alterar Meus Dados</a>
            </div>
        </section>
    </main> <!-- Fim Main -->

    <%- include('./partials/footer') %>
</body>

</html>