<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/historico.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    
    <title>Histórico de Pedidos</title>
</head>

<body>
    <%- include('../partials/header')%>
    <main>
        <!-- Inicio Main -->
        <div class="wrapper">
            <div class="btn-usuario">
                <a href="#">Meus Endereços</a>
                <a href="#">Meu Perfil</a>
            </div>
            <h2>Histório de Pedidos</h2>
            <div class="ultimos-pedidos">
                <div class="card-pedido">
                    <div class="card-wrapper">
                        <div class="card-img">
                            <img src="img/blusao.png" alt="">
                        </div>
                        <div class="card-descricao">
                            <div><span class="bold">Pedido: </span><span>0001</span></div>
                            <div><span class="bold">Descrição: </span><span>Pulover Masculino Losango</span></div>
                            <div><span class="bold">Quantidade: </span><span>01</span></div>
                            <div><span class="bold">Tamanho: </span><span>M</span></div>
                            <div><span class="bold">Cor: </span><span>Vermelho</span></div>                            
                        </div>
                        <div class="card-btn">
                            <a href="">Solicitar Troca</a>
                            <a href="">Avaliar Pedido</a>
                        </div>
                    </div>
                </div>

                <div class="card-pedido">
                    <div class="card-wrapper">
                        <div class="card-img">
                            <img src="img/blusao-preto.png" alt="">
                        </div>
                        <div class="card-descricao">
                            <div><span class="bold">Pedido: </span><span>0002</span></div>
                            <div><span class="bold">Descrição: </span><span>Sueter Masculino</span></div>
                            <div><span class="bold">Quantidade: </span><span>01</span></div>
                            <div><span class="bold">Tamanho: </span><span>M</span></div>
                            <div><span class="bold">Cor: </span><span>Preto</span></div>                            
                        </div>
                        <div class="card-btn">
                            <a href="">Solicitar Troca</a>
                            <a href="">Avaliar Pedido</a>
                        </div>
                    </div>
                </div>

                <div class="card-pedido">
                    <div class="card-wrapper">
                        <div class="card-img">
                            <img src="img/blusão 3.png" alt="">
                        </div>
                        <div class="card-descricao">
                            <div><span class="bold">Pedido: </span><span>0003</span></div>
                            <div><span class="bold">Descrição: </span><span>Blusão Masculino Losango</span></div>
                            <div><span class="bold">Quantidade: </span><span>01</span></div>
                            <div><span class="bold">Tamanho: </span><span>M</span></div>
                            <div><span class="bold">Cor: </span><span>Marrom</span></div>                            
                        </div>
                        <div class="card-btn">
                            <a href="">Solicitar Troca</a>
                            <a href="">Avaliar Pedido</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main> <!-- Fim Main -->

   <%- include('../partials/footer')%>
</body>

</html>