<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <script src="https://kit.fontawesome.com/4a84259549.js" crossorigin="anonymous"></script>
    <title>Login</title>
</head>

<body>
    <section class="login-form">
        <form action="/login" method="POST">
            <div class="box">
                <div class="heading">
                    <div class="img">
                        <span><i class="fa-solid fa-user fa-2xl"></i></span>
                    </div>
                    <h4>Login</h4>
                    <div class="errors">
                        <% if (locals.error) { %>
                            <ul>
                                <li>
                                    <%= locals.error %>
                                </li>
                            </ul>
                            <% } %>
                    </div>
                </div>
                <div class="form-fields">
                    <div class="input-box">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" name="email" id="email" placeholder="Email ou usuário" class="form-control" name="email">
                        <span><i class="fa-solid fa-envelope"></i></span>
                    </div>
                    <div class="input-box">
                        <label for="senha" class="form-label">Senha</label>
                        <input type="password"  placeholder="Senha" class="form-control" name="senha">
                        <span><i class="fa-solid fa-lock"></i></span>
                    </div>
                    <div class="button-box">
                        <button type="submit">Entrar</button>
                        <a href="">Esqueci a senha</a>
                    </div>
                </div>
            </div>
        </form>
    </section>
</body>

</html>