<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>PAGAMENTO</title>
</head>

<body>
    <!-- HEADER -->
    <%- include('../partials/header.ejs') %>
    <!-- HEADER -->
    <!-- produto selecionado -->
    <div class="product-selected">
     
    </div>
    <!-- produto selecionado -->
    <!-- form do pagamento -->
    <section class="payment">
        <div class="payment-result">
            <p> Total:</p>
            <!-- valores dos produtos -->
            <p> R$ 325,00 </p>
            <!-- valores dos produtos -->
        </div>

            <div class="parcelas">
                <form method="post" action="?">

                    <label for="parcelas">Deseja parcelar?</label>
                    <select>
                        <option value="parcelas">1x R$325,00 = R$325,00</option>
                        <option value="parcelas">2x R$325,00 = R$162,50</option>
                        <option value="parcelas">3x R$325,00 = R$108,33</option>
                        <option value="parcelas">4x R$325, = R$81,25</option>
                        <option value="parcelas">5x R$325, = R$65,00</option>
                        <option value="parcelas">6x R$325, = R$54,16</option>
                        <option value="parcelas">7x R$325, = R$46,42</option>
                        <option value="parcelas">8x R$325, = R$40,62</option>
                        <option value="parcelas">9x R$325, = R$36,11</option>
                        <option value="parcelas">10x R$325, = R$32,50</option>
                    </select>

                </form>
            </div>
        <!-- form do pagamento -->
    </section>

    <section class="payment-card">
        <form method="post" action="?">
            <label for="card-number">Número do cartão </label>
            <input type="text" name="card-number" id="card-number">

            <label for="name-card">titular do cartão</label>
            <input type="text" name="name-card" id="name-card">

            <label for="expiration-date">Data de validade</label>
            <input type="text" name="expiration-date" id="expiration-date">

            <label for="card-cvv">CVV</label>
            <input type="text" name="card-cvv" id="card-cvv">

            <label for="card-address">Endereço do Cartão</label>
            <input type="text" name="card-address" id="card-address">
        </form>
    </section>

    <!-- FOOTER -->
    <%- include('../partials/footer.ejs') %>
    <!-- FOOTER -->

</body>

</html>