<footer class="bd-footer py-2 mt-5">
    <div class="container py-2">
        <div class="row">
            
            <div class="col-6 col-lg-2 offset-lg-1 mb-3">
                <h5>Contato</h5>
                <ul class="list-unstyled">
                    <span>Email:</span>
                    <li class="mb-3"><a href="#">email@dominio.com</a></li>
                    <span> Endereço:</span>
                    <li class=" mb-3">Av. Domingos Odália Filho, 301 - Centro, Osasco - SP, Cep: 06010-067</li>
                    <span>Telefone:</span>
                    <li class=" mb-3">(99) 99999-9999</li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 offset-lg-1 mb-3">
                <h5>Informações</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#">Informações</a></li>
                    <li class=" mb-2"><a href="#">Nossos parceiros</a></li>
                    <li class=" mb-2"><a href="#">Quem somos</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 offset-lg-1 mb-3">
                <h5>Redes Sociais</h5>
                <ul class="list-unstyled" id="redes-sociais">
                    <li class=" mb-2"><a href="#"><img src="/img/icone-whats.png" alt="icone-whatsapp"></a></li>
                    <li class=" mb-2"><a href="#"><img src="/img/icone-face.png" alt="icone-facebook"></a></li>
                    <li class=" mb-2"><a href="#"><img src="/img/icone-insta.png" alt="icone-instagram"></a></li>
                    <li class=" mb-2"><a href="#"><img src="/img/icone-lkd.png" alt="icone-linkedin"></a></li>
                </ul>
            </div>
            <div class="col-lg-2 mb-3" id="map">
                <h5>Localização</h5>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.98858461134!2d-46.774590985099636!3d-23.532912984697003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce50ab7feb4519%3A0x739f0ddb0439cf94!2sDigital%20House%20Brasil!5e0!3m2!1spt-BR!2sbr!4v1654038624865!5m2!1spt-BR!2sbr"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</footer>